.children {
    display: block;
}

.child {
    background-color: #FAFAD2;
}

.child .name {
    text-align: left;
    display: inline-block;
    width: 15%;
}

.child .surname {
    text-align: left;
    display: inline-block;
    width: 20%;
}

.child .groupchildren {
    text-align: center;
    display: inline-block;
    width: 15%;
}

.child .dayofbirth {
    text-align: center;
    display: inline-block;
    width: 15%;
}

.child .details {
    text-align: center;
    display: inline-block;
    width: 10%;
}

.child .update {
    text-align: center;
    display: inline-block;
    width: 10%;
}

.child .delete {
    text-align: center;
    display: inline-block;
    width: 10%;
}

