body {
    font-size: 14px;
    font-family: Verdana,  serif;
    font-style: normal;
    text-align: center;
    background-color: #FFFFFF;
}

.header {
    background-color: #bdcd5a;
    height: 20px;
    bottom:0;
    margin: 0px 0px;
}

#menu {
    text-align: center;
    min-content: 50px;
    border-top: 6px solid #bdcd5a;
    background-color: #6A5ACD;
    bottom: 0;
}

#logo {
    text-align: right;
    width: 70%;
    min-width: 700px;
    height: 250px;
    font-size: 50px;
    font-family: cursive;
    color: #6A5ACD;
    bottom: 0;
    margin: 0px auto;
}

#footer {
    background-color: #bdcd5a;
    height: 25px;
    width:100%;
    position: absolute;
    bottom:0;
    color: #6A5ACD;
}

.button {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #FAFAD2;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #f9f9ba;
    cursor: pointer;
    display: inline-block;
}

#content {
    background-color: #FAFAD2;
    border: 2px solid #bdcd5a;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.input{
    min-width: 300px;
    background-color: #fafad2;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
    text-align: left;
}

.input:hover{
    min-width: 300px;
    background-color: #f9f9ba;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
}

#menu_admin {
    text-align: center;
    border-top: 6px solid #bdcd5a;
    background-color: #6A5ACD;
}

.select {
    min-width: 300px;
    font-weight: 600;
    font-size: 16px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #FAFAD2;
    cursor: pointer;
    display: block;
}

.info {
    min-height: 20px;
}




