.groupchildren {
    background-color: #FAFAD2;
}

.groupchildren .name {
    text-align: left;
    display: inline-block;
    width: 55%;
}

.groupchildren .size {
    text-align: center;
    display: inline-block;
    width: 5%;
}

.groupchildren .details {
    text-align: center;
    display: inline-block;
    width: 10%;
}

.groupchildren .delete {
    text-align: center;
    display: inline-block;
    width: 10%;
}

.groupchildren .update {
    text-align: center;
    display: inline-block;
    width: 10%;
}