.information {
    display: block;
}

.information .title {
    background-color: #bdcd5a;
    text-align: left;
    display: block;
    font-size: 18px;
    margin: 22px 22px;
    padding: 2px 2px;
}

.information .content {
    text-align: left;
    display: block;
    margin: 2px 22px;
    padding: 2px 2px;
}

.information  .update {
    text-align: right;
    display: inline-block;
    margin: 2px auto;
    padding: 2px 2px;
}

.information  .delete {
    text-align: right;
    display: inline-block;
    margin: 2px auto;
    padding: 2px 2px;
}
.information .author {
    text-align: right;
    display: block;
    margin: 2px 22px;
    padding: 2px 2px;
    font-size: 16px;
}

.information  .dateCreation {
    text-align: right;
    display: block;
    margin: 2px 22px;
    padding: 2px 2px;
}



