.presence {
    background-color: #FAFAD2;
    display: block;
}

.presence .child {
    text-align: left;
    display: inline-block;
    width: 25%;
}

.presence .day {
    text-align: center;
    display: inline-block;
    width: 15%;
}

.presence .time-entry {
    text-align: center;
    display: inline-block;
    width: 15%;
}

.presence .time-departure {
    text-align: center;
    display: inline-block;
    width: 15%;
}

.presence .update {
    text-align: center;
    display: inline-block;
    width: 10%;
}

.presence .delete {
    text-align: center;
    display: inline-block;
    width: 10%;
}


.group {
    display: inline-block;
}


