.button {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #FAFAD2;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #f9f9ba;
    cursor: pointer;
    display: inline-block;
}

.button_delete {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #640b0b;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #800000;
    cursor: pointer;
    display: inline-block;
}


.button_delete:hover {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #640b0b;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #640b0b;
    cursor: pointer;
    display: inline-block;
}

.button_update {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #142345;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #082567;
    cursor: pointer;
    display: inline-block;
}

.button_update:hover {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #142345;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #142345;
    cursor: pointer;
    display: inline-block;
}

.button_inactive {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ff7142;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #fe7f00;
    cursor: pointer;
    display: inline-block;
}


.button_inactive:hover {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ff7142;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #ff8056;
    cursor: pointer;
    display: inline-block;
}

.button_active, .button_group{
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #0a5c0a;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #008000;
    cursor: pointer;
    display: inline-block;
}

.button_active:hover, .button_group:hover {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #0a5c0a;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #109010;
    cursor: pointer;
    display: inline-block;
}

.button_undernav {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #39a9bc;
    border-radius: 8px;
    padding: 5px 20px;
    color: #39a9bc;
    background-color: #FAFAD2;
    cursor: pointer;
    display: inline-block;
}

.button_undernav:hover {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #39a9bc;
    border-radius: 8px;
    padding: 5px 20px;
    color: #39a9bc;
    background-color: #f9f9ba;
    cursor: pointer;
    display: inline-block;
}
