body {
    font-size: 14px;
    font-family: Verdana,  serif;
    font-style: normal;
    text-align: left;
    background-color: #FFFFFF;
}

.nav {
    text-align: center;
    min-content: 50px;
    border-top: 6px solid #bdcd5a;
    background-color: #6A5ACD;
    bottom: 0;
}

.header {
    text-align: right;
    width: 100%;
    height: 250px;
    font-size: 50px;
    font-family: cursive;
    color: #6A5ACD;
    bottom: 0;
    margin: 0px auto;
}

.footer {
    border-bottom: 15px solid #bdcd5a;
    height: 370px;
    width: 100%;
    bottom:0;
    color: #6A5ACD;
}


section {
    width: 90%;
    margin: 20px auto;
}

.section-content {
    background-color: #FAFAD2;
    border: 3px solid #bdcd5a;
    border-radius: 25px;
    padding: 25px 25px;
    text-align: left;
}

.section-content-center {
    background-color: #FAFAD2;
    border: 3px solid #bdcd5a;
    border-radius: 25px;
    padding: 25px 25px;
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.undernav {
    text-align: center;
    background-color: #6ec5d3;
    border: 3px solid #39a9bc;
    padding: 5px 5px;
    border-radius: 25px;
}

.input{
    min-width: 300px;
    background-color: #fafad2;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
    text-align: center;
}

.input:hover{
    min-width: 300px;
    background-color: #f9f9ba;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
}

.select {
    min-width: 300px;
    font-weight: 600;
    font-size: 16px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #FAFAD2;
    cursor: pointer;
    display: block;
}

.info {
    min-height: 20px;
}






