* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 150%;
    font-family: Verdana,  serif;
    font-style: normal;
    text-align: left;
    background-color: #FFFFFF;
}

.nav {
    text-align: center;
    min-content: 50px;
    border-top: 6px solid #bdcd5a;
    background-color: #6A5ACD;
    bottom: 0;
    box-shadow: 0px 0px 8px #6A5ACD;
}

.header-img {
    position: relative;
    height: 250px;
    background-image: url('../img/logo.jpg');
    background-size: cover;
    background-position: 0 50%;
    width: 100%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ea474e;
    text-align: center;
    text-shadow: 0px 0px 12px #ffffff;
    z-index: 5;
}

.header-text h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 400%;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}


.footer {
    position: relative;
    height: 370px;
    width: 100%;
    bottom:0;
    color: #6A5ACD;
}


section {
    width: 86%;
    margin: 30px auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.section-content {
    background-color: #FAFAD2;
    border: 3px solid rgba(170, 184, 91, 1);
    padding: 25px 25px;
    box-shadow: -4px -4px 5px #dee6ac, 8px 8px 5px #c3cd85;
}

.section-content-center {
    background-color: #FAFAD2;
    border: 3px solid rgba(170, 184, 91, 1);
    padding: 25px 25px;
    box-shadow: -4px -4px 5px #dee6ac, 8px 8px 5px #c3cd85;
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.undernav {
    text-align: center;
    background-color: #6ec5d3;
    border: 3px solid #39a9bc;
    padding: 5px 5px;
    box-shadow: -4px -4px 5px #6ec5d3;
}

.input{
    min-width: 250px;
    max-width: 350px;
    width: 80%;
    background-color: #fafad2;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
    text-align: center;
}

.input:hover{
    min-width: 250px;
    max-width: 350px;
    width: 80%;
    background-color: #f9f9ba;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
}

.select {
    min-width: 300px;
    font-weight: 600;
    font-size: 16px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #FAFAD2;
    cursor: pointer;
    display: block;
}

.info {
    min-height: 20px;
}

a {
    text-decoration: none;
    color: #6A5ACD;
}

h2 {
    color: #6A5ACD;
}

h3 {
    color: #6A5ACD;
}

.div-inline-block {
    display: inline-block;
    border: 1px solid #bdcd5a;
    margin: 5px 5px;
    border-radius: 8px;
    background-color: #fcfcc6;
    text-align: center;
    box-shadow: 0 0 3px #bdcd5a;
}

div ~ div {
    display: block;
    margin: 3px;
}






