* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 150%;
    font-family: Verdana,  serif;
    font-style: normal;
    text-align: left;
    background-color: #FFFFFF;
}

.nav {
    text-align: center;
    min-content: 50px;
    border-top: 6px solid #bdcd5a;
    background-color: #6A5ACD;
    bottom: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 200px;
    line-height: 120%;
    color: #6A5ACD;
    bottom: 0;
    text-align: right;
    font-size: 200%;
    padding: 2%;
}

.img-header {
    position: absolute;
    z-index: -10;
    display: block;
    float: left;
    width: 100%;
}

.footer {
    position: relative;
    height: 370px;
    width: 100%;
    bottom:0;
    color: #6A5ACD;
}


section {
    width: 86%;
    margin: 30px auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.section-content {
    background-color: #FAFAD2;
    border: 3px solid rgba(170, 184, 91, 1);
    padding: 25px 25px;
    box-shadow: -4px -4px 5px #dee6ac, 8px 8px 5px #c3cd85;
}

.section-content-center {
    background-color: #FAFAD2;
    border: 3px solid rgba(170, 184, 91, 1);
    padding: 25px 25px;
    box-shadow: -4px -4px 5px #dee6ac, 8px 8px 5px #c3cd85;
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.undernav {
    text-align: center;
    background-color: #6ec5d3;
    border: 3px solid #39a9bc;
    padding: 5px 5px;
    border-radius: 25px;
}

.input{
    min-width: 300px;
    background-color: #fafad2;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
    text-align: center;
}

.input:hover{
    min-width: 300px;
    background-color: #f9f9ba;
    border: 2px solid #4333a8;
    color: #4333a8;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: block;
}

.select {
    min-width: 300px;
    font-weight: 600;
    font-size: 16px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4333a8;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4333a8;
    background-color: #FAFAD2;
    cursor: pointer;
    display: block;
}

.info {
    min-height: 20px;
}






