.input-search-presence {
    background-color: #fafad2;
    border: 2px solid #f0768b;
    color: #f0768b;
    font-size: 16px;
    margin: 5px auto;
    border-radius: 8px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
}

.section-search-presence {
    background-color: #ffafc1;
    border: 3px solid #f0768b;
    text-align: center;
    color: #f0768b;
    padding: 25px 25px;
    box-shadow: 3px 3px 8px #f0768b;
}

.section-search-presence h3 {
    color: #f0768b;
}
