<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/common.css">
<link rel="stylesheet" href="/add-child.css">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">


    <form method="post">

            <div class="name">Imię:</div>
            <div class="name">
                <input type="text" name="name" id="name" class="input" placeholder="Imię"
                                     th:field="*{childModel.name}">
            </div>

            <div class="surname">Nazwisko:</div>
            <div class="surname">
                <input type="text" name="surname" id="surname" class="input" placeholder="Nazwisko"
                                        th:field="*{childModel.surname}">
            </div>

            <div class="age">Data urodzenia:</div>
            <div class="age">
                <input type="text" name="name" id="age" class="input" placeholder="2"
                                    th:field="*{childModel.dayOfBirth}">
            </div>

        <div  th:if="${!parent}">
            <div class="groupchildren">Grupa: </div>
            <div class="groupchildren">
                <select class="select" th:field="*{childModel.groupChildren.id}">
                <option th:each="group : ${groupChildren}"
                        th:value="${group.id}"
                        th:text="${group.name}">
                </option>
            </select>
            </div>

            <div class="parent">Rodzic: </div>
            <div class="parent"><select class="select" th:field="*{childModel.parent.id}">
                <option th:each="parent : ${parents}"
                        th:value="${parent.id}"
                        th:text="${parent.name} + ' ' + ${parent.surname}">
                </option>
            </select>
            </div>
        </div>

        <div class="details">
            <input type="submit" value="Dodaj dziecko" class="button">
        </div>
    </form>

</div>

</body>
</html>