<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/information.css">
    <script src="/js/information-validator.js"></script>
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">

    <form method="post" onsubmit="return validate()">
        <div id="info" th:text="${info}" class="info"></div>
        <input type="text" name="title" id="title" class="input" placeholder="Tytuł" th:field="*{informationModel.title}">
        <input type="text" name="content" id="contentinformation" class="input" placeholder="Treść.." th:field="*{informationModel.content}">
        <input type="submit" value="Dodaj/Edytuj" class="button">
    </form>

</div>

<div th:replace="~{fragments.html :: above-footer}"></div>
<div th:replace="~{fragments.html :: footer}"></div>

</body>
</html>