<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/information.css">
    <link rel="stylesheet" href="/css/button.css">
    <script src="/js/information-validator.js"></script>
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="section_content_center">
    <form method="post" onsubmit="return validate()">
        <div id="info" th:text="${info}" class="info"></div>
        <input type="text" name="title" id="title" class="input" placeholder="Tytuł" th:field="*{informationModel.title}">
        <input type="text" name="content" id="contentinformation" class="input" placeholder="Treść.." th:field="*{informationModel.content}">
        <input type="submit" value="Dodaj/Edytuj" class="button">
    </form>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>