<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <script src="/js/child-validator.js"></script>
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section>
        <h2>Dodaj dziecko</h2>
    </section>

    <section class="section-content-center">
        <form method="post" onsubmit="return validate()">
            <p>Imię:</p>
            <input type="text" name="name" id="name" class="input" placeholder="Imię" th:field="*{childModel.name}">
            <p>Nazwisko:</p>
            <input type="text" name="surname" id="surname" class="input" placeholder="Nazwisko"
                   th:field="*{childModel.surname}">
            <p>Data urodzenia:</p>
            <input type="date" name="dayofbirth" id="dayofbirth" class="input" placeholder="2020-01-01"
                   th:field="*{childModel.dayOfBirth}">

            <p th:if="${!parent}">Grupa</p>
            <select class="select" th:field="*{childModel.groupChildren.id}" th:if="${!parent}">>
                <option th:each="group : ${groupChildren}"
                        th:value="${group.id}"
                        th:text="${group.name}">
                </option>
            </select>

            <p th:if="${!parent}">Rodzic:</p>
            <select class="select" th:field="*{childModel.parent.id}" th:if="${!parent}">
                <option th:each="parent : ${parents}"
                        th:value="${parent.id}"
                        th:text="${parent.name} + ' ' + ${parent.surname}">
                </option>
            </select>

            <input type="submit" value="Dodaj dziecko" class="btn">
        </form>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>