<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main th:if="${adminoremployee}">

    <section class="undernav">
            <a href="/view/child/" class="btn-undernav">Dodaj dziecko</a>
    </section>

    <section class="section-content">
        <h2>Dzieci</h2>
        <table>
            <tr>
                <th>Imię:</th>
                <th>Nazwisko:</th>
                <th class="center">Data urodzin:</th>
                <th class="center">Szczegóły:</th>
                <th class="center">Grupa:</th>
                <th class="center">Obecności: </th>
                <th class="center">Edytuj: </th>
                <th class="center">Usuń:</th>
            </tr>
            <tr th:each="child : ${children}" >
                <td th:text="${child.name}"></td>
                <td th:text="${child.surname}"></td>
                <td class="center"th:text="${child.dayOfBirth}"></td>
                <td class="center"><a th:href="@{/view/child/{id}(id=${child.id})}" class="btn">Szczegóły</a></td>
                <td class="center">
                <a th:text="${child.groupChildren.name}"
                   th:href="@{/view/groupchildren/{id}(id=${child.groupChildren.id})}" class="button_group"></a>
                </td>
                <td class="center">
                    <a th:href="@{/view/presence/child/{id}(id=${child.id})}" class="btn-presence">Obecności</a>
                </td>
                <td class="center"><a th:href="@{/view/child/update/{id}(id=${child.id})}" class="btn-update">Edytuj</a></td>
                <td class="center"><a th:href="@{/view/child/delete/{id}(id=${child.id})}" class="btn-delete">Usuń</a></td>
            </tr>
        </table>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>