<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/common.css">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">

    <form method="post">
        <input type="text" name="name" id="name" class="input" placeholder="Imię" th:field="*{userModel.name}">
        <input type="text" name="surname" id="surname" class="input" placeholder="Nazwisko" th:field="*{userModel.surname}">
        <input type="text" name="email" id="email" class="input" placeholder="E-mail" th:field="*{userModel.email}">
        <input type="text" name="phoneNumber" id="phoneNumber" class="input" placeholder="Numer telefonu" th:field="*{userModel.phoneNumber}">
        <input type="text" name="street" id="street" class="input" placeholder="Ulica" th:field="*{userModel.address.street}">
        <input type="text" name="zipCode" id="zipCode" class="input" placeholder="Kod pocztowy" th:field="*{userModel.address.zipCode}">
        <input type="text" name="city" id="city" class="input" placeholder="Miasto" th:field="*{userModel.address.city}">
            <select  th:if="${admin}" class="select" th:field="*{userModel.role}">
                <option th:each="role : ${userModel.getTypeOfRole()}"
                        th:value="${role}"
                        th:text="${role}">
                </option>
            </select>
        <div class="details">
            <input type="submit" value="Edytuj użytkownika" class="button">
        </div>
    </form>

</div>

</body>
</html>