<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <script src="/js/edituser-validator.js"></script>
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="section-content-center">
    <form method="post" onsubmit="return validate()">
        <div id="info" th:text="${info}" class="info"></div>
        <input type="text" name="name" id="name" class="input" placeholder="Imię" th:field="*{userModel.name}">
        <input type="text" name="surname" id="surname" class="input" placeholder="Nazwisko" th:field="*{userModel.surname}">
        <input type="text" name="email" id="email" class="input" placeholder="E-mail" th:field="*{userModel.email}">
        <input type="text" name="phoneNumber" id="phoneNumber" class="input" placeholder="Numer telefonu" th:field="*{userModel.phoneNumber}">
        <input type="text" name="street" id="street" class="input" placeholder="Ulica" th:field="*{userModel.address.street}">
        <input type="text" name="zipCode" id="zipCode" class="input" placeholder="Kod pocztowy" th:field="*{userModel.address.zipCode}">
        <input type="text" name="city" id="city" class="input" placeholder="Miasto" th:field="*{userModel.address.city}">
            <select  th:if="${admin}" class="select" th:field="*{userModel.role}">
                <option th:each="role : ${userModel.getTypeOfRole()}"
                        th:value="${role}"
                        th:text="${role}">
                </option>
            </select>
        <div>
            <input type="submit" value="Edytuj użytkownika" class="btn-update">
        </div>
    </form>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>