<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:fragment="header">
    <div class="header-img">
        <div class="header-text">
            <h1>nursery</h1>
            <p>tomwodz - Tomasz Wodziński</p>
        </div>
        <div class="header-bg"></div>
    </div>
</header>
<nav class="nav" th:fragment="nav">
    <div>
        <a href="/" class="btn">Strona Główna</a>
        <a th:if="${logged}" th:href="@{/view/user/{id}(id=${getid})}" class="btn">Moje dane</a>
        <a th:if="${parent}" href="/view/child/" class="btn">Zarejestruj dziecko</a>
        <a th:if="${logged}" href="/view/presence/child/" class="btn">Obecności</a>
        <a th:if="${logged}" href="/view/information" class="btn">Informacje</a>

        <a th:if="${!logged}" href="/view/login" class="btn">Zaloguj</a>
        <a th:if="${logged}" href="/view/logout" class="btn">Wyloguj</a>
        <a th:if="${!logged}" href="/view/user/register" class="btn">Zarejestruj</a>

    </div>
    <div>
        <a th:if="${adminoremployee}" href="/view/child" class="btn">Dzieci</a>
        <a th:if="${adminoremployee}" href="/view/groupchildren" class="btn">Grupy</a>
        <a th:if="${adminoremployee}" href="/view/parent" class="btn">Rodzice</a>
    </div>
    <div>
        <a th:if="${admin}" href="/view/employee" class="btn">Pracownicy</a>
        <a th:if="${admin}" href="/view/corn" class="btn">Automat</a>
    </div>
</nav>


</div>

<footer class="footer" th:fragment="footer">
</footer>

</body>
</html>