<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="header" th:fragment="logo">
    <img src="/images/logo.jpg" style="float:left;" alt="Piękne kwiaty">
    nursery - Tomasz Wodziński
</header>
<nav class="nav" th:fragment="nav">
    <div>
        <a href="/" class="btn">Strona Główna</a>
        <a th:if="${logged}" th:href="@{/view/user/{id}(id=${getid})}" class="btn">Moje dane</a>
        <a th:if="${parent}" href="/view/child/" class="btn">Zarejestruj dziecko</a>
        <a th:if="${logged}" href="/view/information" class="btn">Informacje</a>

        <a th:if="${!logged}" href="/view/login" class="btn">Zaloguj</a>
        <a th:if="${logged}" href="/view/logout" class="btn">Wyloguj</a>
        <a th:if="${!logged}" href="/view/user/register" class="btn">Zarejestruj</a>

    </div>
    <div>
        <a th:if="${adminoremployee}" href="/view/child" class="btn">Dzieci</a>
        <a th:if="${adminoremployee}" href="/view/groupchildren" class="btn">Grupy</a>
        <a th:if="${adminoremployee}" href="/view/parent" class="btn">Rodzice</a>
        <a th:if="${adminoremployee}" href="/view/presence" class="btn">Obecności</a>
    </div>
    <div>
        <a th:if="${admin}" href="/view/employee" class="btn">Pracownicy</a>
    </div>
</nav>


</div>

<footer class="footer" th:fragment="footer">
    <img src="/images/above-footer.jpg" style="float:right;" alt="Piękne kwiaty">
</footer>

</body>
</html>