<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main th:if="${adminoremployee}">

    <section class="undernav">
        <a href="/view/groupchildren/" class="btn-undernav">Dodaj grupę</a>
    </section>

    <section class="section-content-center">
        <h2>Grupy</h2>
        <div th:each="group : ${groupChildren}" class="div-inline-block">
            <div><a th:text="${group.name}" th:href="@{/view/groupchildren/{id}(id=${group.id})}" class="btn-group"></a>
            </div>
            <div th:if="${groupSize.get(group.id()) > 0}" th:text="'Dzieci: ' + ${groupSize.get(group.id())}"
                 class="btn-size">
            </div>
            <div th:if="${groupSize.get(group.id()) == null}" th:text="'Dzieci: 0'"
                 class="btn-size">
            </div>
            <div>
                <a th:href="@{/view/presence/groupchildren/{id}(id=${group.id})}" class="btn-presence">Obecności</a>
            </div>
        </div>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>