<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/groupchildren.css">
    <link rel="stylesheet" href="/button.css">
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">



    <div class="groupchildren">
        <div class="name">Nazwa grupy:</div>
        <div class="size">Ilość dzieci:</div>
        <div class="details">Szczegóły:</div>
        <div class="update">Edytuj:</div>
        <div class="delete"></div>
    </div>

    <div th:each="group : ${groupChildren}" class="groupchildren">
        <div th:text="${group.name}" class="name"></div>
        <div th:text="${group.child.size()}" class="size"></div>
        <div class="details">
            <a th:href="@{/view/groupchildren/{id}(id=${group.id})}" class="button">Szczegóły</a>
        </div>
        <div class="update">
            <a th:href="@{/view/groupchildren/update/{id}(id=${group.id})}" class="button_update">Edytuj</a>
        </div>
        <div class="delete">
            <a th:href="@{/view/groupchildren/delete/{id}(id=${group.id})}" class="button_delete">Usuń</a>
        </div>
    </div>

    <div>
        <a href="/view/groupchildren/" class="button">Dodaj grupę</a>
    </div>

</div>

</body>
</html>