<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>
<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>
    <section class="section_content">
        <h2>Wstęp</h2>
        <p>
            Witaj, <br>
            Dziękuję, że znalazałaś/eś czas na poznanie się z moim projektem.<br>
        <p>
        <h3>Dane do logowania:</h3>
        <table>
            <tr>
                <th>Rola:</th>
                <th>Login:</th>
                <th>Hasło:</th>
            </tr>
            <tr>
                <td>Admin</td>
                <td>tomwodz</td>
                <td>tomwodz</td>
            </tr>
            <tr>
                <td>Pracownik</td>
                <td>employee</td>
                <td>employee</td>
            </tr>
            <tr>
                <td>Rodzic</td>
                <td>parent</td>
                <td>parent</td>
            </tr>
        </table>
    </section>
    <section class="section_content">
        <h2>Funkcjonalności</h2>
        <h3>Użytkownik niezalogowany:</h3>
        <ol>
            <li>Założenie konta</li>
            <li>Logowanie</li>
        </ol>
        <h3>Rodzic:</h3>
        <ol>
            <li>Rejestowanie dzieci do rekrutacji</li>
            <li>Usuwanie lub edycja danych swoich dzieci</li>
            <li>Edycja swoich danych</li>
            <li>Przeglądanie informacji</li>
        </ol>
        <h3>Pracownik:</h3>
        <h3>Admin:</h3>
    </section>
    <section class="section_content">
        <h2>Technologie i narzędzia</h2>
        <h3>Java 17, Spring Boot, Spring Data, Hibernate, PostgreSQL, Spring MVC, Lombok, Docker, JavaScript, HTML, CSS
        </h3>
    </section>
    <section class="section_content">
        <h2>Kontakt</h2>
        <p>W przypadku pytań proszę o kontakt:</p>
        </p> twodzinski@op.pl</p>
    </section>
</main>
<footer th:replace="~{fragments.html :: footer}"></footer>
</body>
</html>