<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>
<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>
    <section class="section-content">
        <h2>Wstęp</h2>
        <p>
            Witaj, <br>
            Dziękuję, że znalazałaś/eś czas na poznanie się z moim projektem.<br>
        <p>
        <h3>Dane do logowania:</h3>
        <table>
            <tr>
                <th>Rola:</th>
                <th>Login:</th>
                <th>Hasło:</th>
            </tr>
            <tr>
                <td>Admin</td>
                <td>tomwodz</td>
                <td>tomwodz</td>
            </tr>
            <tr>
                <td>Pracownik</td>
                <td>employee</td>
                <td>employee</td>
            </tr>
            <tr>
                <td>Rodzic</td>
                <td>parent</td>
                <td>parent</td>
            </tr>
        </table>
    </section>
    <section class="section-content">
        <h2>Technologie i narzędzia</h2>
        <h3>Java 17, Spring Boot, Spring Data, Hibernate, PostgreSQL, Spring MVC, Lombok, Docker, JavaScript, HTML, CSS
        </h3>
    </section>
    <section class="section-content">
        <h2>REST API</h2>
        <h3><a target="_blank" href="http://www.devjava.pl/swagger-ui/index.html#/">
            http://www.devjava.pl/swagger-ui/index.html#/
        </a></h3>
    </section>
    <section class="section-content" style="line-height: 30px">
        <h2>Funkcjonalności</h2>
        <h2>Gość:</h2>
        <h3>(Użytkownik niezalogowany)</h3>
        <ul>
            <li>Rejestracja konta użytkownika (domyślna rola PARENT),</li>
            <li>Przeglądanie ogólnodostępnych treści.</li>
        </ul>
        <h2>Rodzic:</h2>
        <h3>(Użytkownik zalogowany z rolą PARENT)</h3>
        <ul>
            <li>Przeglądanie informacji,</li>
            <li>Edycja swoich danych,</li>
            <li>Rejestracja dziecka do żłobka i edycja jego danych (Domyślna grupa dziecka w żłobku „Rekrutacja + rok”,</li>
            <li>Przeglądanie i wyszukiwanie obecności swoich dzieci.</li>
        </ul>
        <h2>Pracownik:</h2>
        <h3>(Użytkownik zalogowany z rolą EMPLOYEE)</h3>
        <ul>
            <li>Przeglądanie, dodawanie, edycja i usuwanie informacji,</li>
            <li>Edycja danych Rodziców oraz swoich. Brak możliwości zmiany danych innych pracowników,</li>
            <li>Dodawanie dziecka do rodzica lub jego zmiana,</li>
            <li>Utworzenie, edycja, usuwanie grup dzieci ze żłobka (Brak możliwości usunięcia grupy do której przypisane są dzieci),</li>
            <li>Przypisywanie i edycja dzieci do konkretnych grup żłobkowych,</li>
            <li>Zablokowanie konta Rodzica (użytkownik nie może się zalogować, jednak jego dane nie zostają usunięte),</li>
            <li>Przeglądanie, dodawanie, usuwanie obecności dzieci,</li>
            <li>Możliwość wyszukiwania obecności wg zakresu dat oraz konkretnego dziecka lub wg zakresu dat oraz konkretnej grupy.</li>
        </ul>
        <h2>Admin:</h2>
        <h3>(Użytkownik zalogowany z rolą ADMIN)</h3>
        <ul>
            <li>Uprawnienia jak pracownik oraz,</li>
            <li>Możliwość edycji danych każdego użytkownika,</li>
            <li>Możliwość zablokowanie konta pracownika,</li>
            <li>Możliwość zmiany roli danego użytkownika,</li>
            <li>Włączanie/wyłącznie generowania automatycznej obecności dzieci.</li>
        </ul>
    </section>

    <section class="section-content">
        <h2>Kontakt</h2>
        <p>W przypadku pytań proszę o kontakt:</p>
        </p> twodzinski@op.pl</p>
    </section>
</main>
<footer th:replace="~{fragments.html :: footer}"></footer>
</body>
</html>