<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="undernav" th:if="${adminoremployee}">
        <a href="/view/information/" class="button_undernav">Dodaj informację</a>
    </section>

    <section th:each="information : ${informations}" class="section_content">
        <h2 th:text="${information.title}"></h2>
        <p th:text="${information.content}"></p>
        <p th:text="${#temporals.format(information.dateCreation,'dd-MM-yyyy HH:mm')}" class="right"></p>
        <p th:text="${information.author.name}" class="right"></p>
        <a th:href="@{/view/information/update/{id}(id=${information.id})}"
           th:if="${adminoremployee}" class="button_update">Edytuj</a>
        <a th:href="@{/view/information/delete/{id}(id=${information.id})}"
           th:if="${adminoremployee}" class="button_delete">Usuń</a>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>