<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/common.css">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">
    <form method="post" >
        <div id="info" th:text="${info}"></div>
        <input type="text" name="login"  id="login" class="input" placeholder="Login">
        <input type="password" name="password" id="password" class="input" placeholder="Hasło">
        <input type="submit" value="ZALOGUJ" class="button">
 <!--       <a href="/view/register" class="button">ZAREJESTRUJ</a>-->
    </form>
</div>

</body>
</html>