<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/button.css">
    <script src="/js/login-validator.js"></script>
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section>
        <h2>Logowanie</h2>
    </section>

    <section class="section_content_center">
    <form method="post" onsubmit="return validate()">
        <div id="info" th:text="${info}" class="info"></div>
        <input type="text" name="login"  id="login" class="input" placeholder="Login">
        <input type="password" name="password" id="password" class="input" placeholder="Hasło">
        <input type="submit" value="Zaloguj" class="button">
        <a href="/view/user/register" class="button">Zarejestruj</a>
    </form>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>