<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="undernav" th:if="${adminoremployee}">
        <a href="/view/presence/" class="button_undernav">Dodaj obecność</a>
    </section>

    <section class="section_content" th:if="${adminoremployee}">
        <table>
            <tr>
                <td th:each="group : ${groupChildren}">
                    <a th:text="${group.name}"
                       th:href="@{/view/presence/groupchildren/{id}(id=${group.id})}" class="button_group"></a>
                </td>
            </tr>
        </table>
    </section>

    <section class="section_content">
        <table>
            <tr>
                <th>Imię:</th>
                <th>Nazwisko:</th>
                <th class="center">Data:</th>
                <th class="center">Godzina wejścia:</th>
                <th class="center">Godzina wyjścia:</th>
                <th class="center" th:if="${adminoremployee}">Edytuj:</th>
                <th class="center" th:if="${adminoremployee}">Usuń</th>
            </tr>
            <tr th:each="presence : ${presences}">
            <td th:text="${presence.child.name}"></td>
                <td th:text=" ${presence.child.surname}"></td>
                <td class="center" th:text="${presence.day}" ></td>
                <td class="center" th:text="${presence.timeEntry}"></td>
                <td class="center" th:text="${presence.timeDeparture}" ></td>
                <td class="center">
                    <a th:href="@{/view/presence/update/{id}(id=${presence.id})}" class="button_update"
                       th:if="${adminoremployee}">Edytuj</a>
                </td>
                <td class="center"><a th:href="@{/view/presence/delete/{id}(id=${presence.id})}" class="button_delete"
                       th:if="${adminoremployee}">Usuń</a>
                </td>
            </tr>
        </table>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>