<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/presence.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main th:if="${adminoremployee}">

    <section class="undernav">
        <a href="/view/presence/" class="btn-undernav">Dodaj obecność</a>
        <a href="/view/presence/groupchildren/" class="btn-undernav">Wyszukaj wg Grupy</a>
        <a href="/view/presence/child/" class="btn-undernav">Wyszukaj wg Dziecka</a>
    </section>

    <section class="section-search-presence">
        <h3>Wyszukaj według Grupy</h3>
        <form method="post" action="/view/presence/groupchildren/">
            <select class="input-search-presence" th:field="*{PresenceByGroupChildrenBetweenDates.groupChildren.id}">
                <option th:each="group : ${groupsChildren}"
                        th:value="${group.id}"
                        th:text="${group.name}">
                </option>
            </select>
            <input type="datetime-local" name="dateFrom" id="dateFrom" class="input-search-presence"
                   th:field="*{PresenceByGroupChildrenBetweenDates.dataFrom}">
            <input type="datetime-local" name="dateTo" id="dateTo" class="input-search-presence"
                   th:field="*{PresenceByGroupChildrenBetweenDates.dataTo}">
            <input type="submit" value="Wyszukaj" class="btn-presence">
        </form>
    </section>

    <section class="section-content-center" th:if="${presences.size()>0}">
        <h2>Obecności</h2>
        <div th:each="presence : ${presences}" class="div-inline-block">
            <div><a th:text="${children.get(presence.child_id)}"
                    th:href="@{/view/child/{id}(id=${presence.child_id})}" class="btn-child"></a></div>
            <div th:text="${presence.dataTimeEntry}"></div>
            <div th:text="${presence.dataTimeDeparture}"></div>
            <div>
                <a th:href="@{/view/presence/update/{id}(id=${presence.id})}" class="btn-update">Edytuj</a>
            </div>
            <div><a th:href="@{/view/presence/delete/{id}(id=${presence.id})}" class="btn-delete">Usuń</a>
            </div>
        </div>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>