<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/presence.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="undernav" th:if="${adminoremployee}">
        <a href="/view/presence/" class="btn-undernav">Dodaj obecność</a>
        <a href="/view/presence/groupchildrenbetween/" class="btn-undernav">Wyszukaj wg Grupy</a>
        <a href="/view/presence/childbetween/" class="btn-undernav">Wyszukaj wg Dziecka</a>
    </section>

    <section class="section-search-presence" th:if="${adminoremployee}">
        <h3>Wyszukaj według Grupy</h3>
        <form method="post">
        <select class="input-search-presence" th:field="*{PresenceByGroupChildrenBetweenDates.groupChildren.id}">
            <option th:each="group : ${groupsChildren}"
                    th:value="${group.id}"
                    th:text="${group.name}">
            </option>
        </select>
        <input type="date" name="dateFrom" id="dateFrom" class="input-search-presence"
               th:field="*{PresenceByGroupChildrenBetweenDates.dataFrom}">
        <input type="date" name="dateTo" id="dateTo" class="input-search-presence"
               th:field="*{PresenceByGroupChildrenBetweenDates.dataTo}">
            <input type="submit" value="Wyszukaj" class="btn-presence">
        </form>
    </section>

    <section class="section-content">
        <h2>Obecności</h2>
        <table>
            <tr>
                <th>Imię:</th>
                <th>Nazwisko:</th>
                <th class="center">Data:</th>
                <th class="center">Godzina wejścia:</th>
                <th class="center">Godzina wyjścia:</th>
                <th class="center" th:if="${adminoremployee}">Edytuj:</th>
                <th class="center" th:if="${adminoremployee}">Usuń</th>
            </tr>
            <tr th:each="presence : ${presences}">
            <td th:text="${presence.child.name}"></td>
                <td th:text=" ${presence.child.surname}"></td>
                <td class="center" th:text="${presence.day}" ></td>
                <td class="center" th:text="${presence.timeEntry}"></td>
                <td class="center" th:text="${presence.timeDeparture}" ></td>
                <td class="center">
                    <a th:href="@{/view/presence/update/{id}(id=${presence.id})}" class="btn-update"
                       th:if="${adminoremployee}">Edytuj</a>
                </td>
                <td class="center"><a th:href="@{/view/presence/delete/{id}(id=${presence.id})}" class="btn-delete"
                       th:if="${adminoremployee}">Usuń</a>
                </td>
            </tr>
        </table>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>