<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/common.css">
    <script src="/js/register-validator.js"></script>
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">

    <form method="post" onsubmit="return validate()">
        <div id="info" th:text="${info}" class="info"></div>
        <input type="text" name="login" id="login" class="input" placeholder="Login (min. 3 znaki)" th:field="*{userModel.login}">
        <input type="password" name="password"  id="password" class="input" placeholder="Hasło (min. 3 znaki)" th:field="*{userModel.password}">
        <input type="password" name="password2"  id="password2" class="input" placeholder="Powtórz hasło (min. 3 znaki)">
        <br><br>
        <input type="text" name="name" id="name" class="input" placeholder="Imię" th:field="*{userModel.name}">
        <input type="text" name="surname" id="surname" class="input" placeholder="Nazwisko" th:field="*{userModel.surname}">
        <input type="text" name="email" id="email" class="input" placeholder="E-mail" th:field="*{userModel.email}">
        <input type="text" name="phoneNumber" id="phoneNumber" class="input" placeholder="Numer telefonu np. 600-700-800" th:field="*{userModel.phoneNumber}">
        <input type="text" name="street" id="street" class="input" placeholder="Ulica" th:field="*{userModel.address.street}">
        <input type="text" name="zipCode" id="zipCode" class="input" placeholder="Kod pocztowy np. 00-000" th:field="*{userModel.address.zipCode}">
        <input type="text" name="city" id="city" class="input" placeholder="Miasto" th:field="*{userModel.address.city}">
        <input type="submit" value="Zarejestruj" class="button">
    </form>

</div>

</body>
</html>