<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="section_content_center">
        <h2>Dane</h2>
        <table class="table_sample">
            <tr>
                <td>Imię:</td>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td th:text="${user.surname}"></td>
            </tr>
            <tr>
                <td>Login:</td>
                <td th:text="${user.login}"></td>
            </tr>
            <tr>
                <td>Numer telefonu:</td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
            <tr>
                <td>E-mial:</td>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <td>Ulica:</td>
                <td th:text="${user.address.street}"></td>
            </tr>
            <tr>
                <td>Kod pocztowy:</td>
                <td th:text="${user.address.zipCode}"></td>
            </tr>
            <tr>
                <td>Miasto:</td>
                <td th:text="${user.address.city}"></td>
            </tr>
        </table>
    </section>

    <section class="section_content">
        <h2>Dzieci</h2>
        <table>
            <tr>
                <th>Imię:</th>
                <th>Nazwisko:</th>
                <th>Grupa:</th>
                <th>Data urodzin:</th>
                <th>Szczegóły:</th>
                <th>Edytuj:</th>
                <th>Usuń:</th>
            </tr>
            <tr th:each="child : ${user.child}">
                <td th:text="${child.name}"></td>
                <td th:text="${child.surname}"></td>
                <td th:text="${child.groupChildren.name}"></td>
                <td th:text="${child.dayOfBirth}"></td>
                <td><a th:href="@{/view/child/{id}(id=${child.id})}" class="button">Szczegóły</a></td>
                <td><a th:href="@{/view/child/update/{id}(id=${child.id})}" class="button_update">Edytuj</a></td>
                <td><a th:href="@{/view/child/delete/{id}(id=${child.id})}" class="button_delete">Usuń</a></td>
            </tr>
        </table>
    </section>

    <section class="undernav">
        <a th:href="@{/view/user/update/{id}(id=${user.id})}" class="button_undernav">Edytuj dane</a>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>