<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="section-content-center">
        <h2 th:text="'Grupa: ' + ${group.name}"></h2>
        <div th:each="child : ${group.child}" class="div-inline-block">
            <div><a th:text="${child.name} + ' ' + ${child.surname}" th:href="@{/view/child/{id}(id=${child.id})}" class="btn-child">Szczegóły</a></div>
            <div><a th:href="@{/view/presence/child/{id}(id=${child.id})}" class="btn-presence">Obecności</a></div>
        </div>
    </section>

    <section class="undernav">
        <a th:href="@{/view/presence/groupchildren/{id}(id=${group.id})}" class="btn-presence">Obecności</a>
        <a th:href="@{/view/groupchildren/update/{id}(id=${group.id})}" class="btn-update">Edytuj</a>
        <a th:href="@{/view/groupchildren/delete/{id}(id=${group.id})}" class="btn-delete">Usuń</a>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>