<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="section-content-center">
        <h2>Grupa</h2>
        <h3 th:text="${group.name}"></h3>
        <table>
            <tr>
                <th>Imię:</th>
                <th>Nazwisko:</th>
                <th>Data urodzin:</th>
                <th>Szczegóły:</th>
            </tr>
            <tr th:each="child : ${group.child}">
                <td th:text="${child.name}"></td>
                <td th:text="${child.surname}"></td>
                <td th:text="${child.dayOfBirth}"></td>
                <td th:href="@{/view/child/{id}(id=${child.id})}">
                    <a th:href="@{/view/child/{id}(id=${child.id})}" class="btn">Szczegóły</a>
                </td>
            </tr>
        </table>

    </section>

    <section class="undernav">

        <a th:href="@{/view/groupchildren/delete/{id}(id=${group.id})}" class="btn-update">Usuń</a>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>