<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/sample-child.css">
    <link rel="stylesheet" href="/button.css">
</head>
<body>

<div th:replace="~{fragments.html :: header}"></div>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">
    <div class="sample-child">
        <div class="name">Imię:</div>
        <div th:text="${child.name}" class="name"></div>
    </div>
    <div class="sample-child">
        <div class="surname">Nazwisko:</div>
        <div th:text="${child.surname}" class="surname"></div>
    </div>
    <div class="sample-child">
        <div class="groupchildren">Grupa:</div>
        <div th:text="${child.groupChildren.name}" class="groupchildren"></div>
    </div>
    <div class="sample-child">
        <div class="dayofbirth">Data urodzenia:</div>
        <div th:text="${child.dayOfBirth}" class="dayofbirth"></div>
    </div>
    <div class="sample-child">
        <div class="parent-name">Imię rodzica:</div>
        <div th:text="${child.parent.name}" class="parent-name"></div>
    </div>
    <div class="sample-child">
        <div class="parent-surname">Nazwisko rodzica:</div>
        <div th:text="${child.parent.surname}" class="parent-surname"></div>
    </div>
    <div class="sample-child">
        <div class="parent-email">Adres e-mail:</div>
        <div th:text="${child.parent.email}" class="parent-email"></div>
    </div>
    <div class="sample-child">
        <div class="parent-phonenumber">Numer telefonu:</div>
        <div th:text="${child.parent.phoneNumber}" class="parent-phonenumber"></div>
    </div>

    <div>
        <a th:if="${!parent}" th:href="@{/view/user/{id}(id=${child.parent.id})}" class="button">Więcej danych Rodzica</a>
    </div>
    <div>
        <a th:href="@{/view/child/update/{id}(id=${child.id})}" class="button_update">Edytuj dziecko</a>
    </div>
    <div>
        <a th:href="@{/view/child/delete/{id}(id=${child.id})}" class="button_delete">Usuń</a>
    </div>
</div>


</div>

<div th:replace="~{fragments.html :: above-footer}"></div>
<div th:replace="~{fragments.html :: footer}"></div>

</body>
</html>