<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>

    <section class="section-content-center">
        <h2>Dane dziecka</h2>
        <table class="table_sample">
            <tr>
                <td>Imię:</td>
                <td th:text="${child.name}"></td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td th:text="${child.surname}"></td>
            </tr>
            <tr>
                <td>Grupa:</td>
                <td th:text="${child.groupChildren.name}"></td>
            </tr>
            <tr>
                <td>Data urodzenia:</td>
                <td th:text="${child.dayOfBirth}"></td>
            </tr>
            <tr>
                <td>Rodzic:</td>
                <td th:text="${child.parent.name} + ' ' + ${child.parent.surname}"></td>
            </tr>
            <tr>
                <td>Adres e-mail:</td>
                <td th:text="${child.parent.email}"></td>
            </tr>
            <tr>
                <td>Numer telefonu:</td>
                <td th:text="${child.parent.phoneNumber}"></td>
            </tr>
        </table>

    </section>

    <section class="undernav">
        <a th:if="${!parent}" th:href="@{/view/user/{id}(id=${child.parent.id})}" class="btn-undernav">Więcej danych Rodzica</a>
        <a th:href="@{/view/child/update/{id}(id=${child.id})}" class="btn-update">Edytuj dziecko</a>
        <a th:href="@{/view/child/delete/{id}(id=${child.id})}" class="btn-delete">Usuń</a>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>