<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>

<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main th:if="${adminoremployee}">

    <section class="undernav" >
        <a href="/view/user/register" class="btn-undernav">Dodaj rodzica</a>
    </section>

    <section class="section-content-center">
        <h2>Użytkownicy</h2>
        <div th:each="user : ${users}" class="div-inline-block">
            <div><a th:text="${user.name} + ' ' + ${user.surname}" th:href="@{/view/user/{id}(id=${user.id})}" class="btn-user"></a></div>
        </div>
    </section>

</main>

<footer th:replace="~{fragments.html :: footer}"></footer>

</body>
</html>